<div class="class-container">
  <mat-card>
    <mat-card-title>
      <p>
        <img
          src="https://www.paypalobjects.com/images/shared/momgram@2x.png"
          alt=""
        />
      </p>
      <br />
      <h1 class="text-center">Log into Your PayPal Account</h1>
    </mat-card-title>
    <form
      action="
  "
    >
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          name=""
          id=""
          placeholder="kibetgilly354@gmail.com"
        />
      </div>
      <br />
      <br />
      <div class="form-group">
        <input class="form-control" type="password" placeholder="Password" />
      </div>
      <br />
      <br />
      <a href="">Forgotten Password?</a>
      <br />
      <br />
      <button>Log in</button>
      <br />
      <br />
      <p class="text-center">or</p>

      <button id="signup">Sign Up</button>
    </form>
  </mat-card>
</div>
